/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.form-div {
  background-color: lightskyblue;
  margin-bottom: 10px;
}

.form-span {
  background-color: white;
  margin-left: 2px;
  margin-right: 10px;
  font-size: 25px;
}

.form-header {
  font-size: 32px;
  margin-bottom: 15px;
}

.main-div {
  margin-top: 100px;
  background-color: aliceblue;
}
.main-form{
  margin-right: 40%;
}

.error-span{
    color: red;
}
